<tr>
  <td>
    <%= channel.name %>

    <% if !channel.global_setup? %>
      <div class="sub-text">
        <div> <span>Endpoint : </span> <b> <%= ChannelNuntium.end_point %> </b> </div>
        <div> <span>User name : </span> <b> <%= channel.name %> </b> </div>
        <div> <span>Password : </span> <b> <%= channel.password %> </b> </div>
      </div>
    <% end %>
  </td>

  <td>
    <% if channel.default? %>
      <span class='glyphicon glyphicon-ok green'></span>
      <span style='background-color: green; color: white;'>Default</span>
    <% else %>
      <%= link_to 'Mark as default', mark_as_default_channel_path(channel),
        method: :put,
        data: { confirm: "Are you sure to want to mark channel #{channel.name} as default?" } %>
    <% end -%>
  </td>
    
  <td>
    <% if channel.connected? %>
      <div class="circle" style="border: 1px solid #f3f3f3; background-color: green"></div>
    <% else %>
      <div class="circle" style="border: 1px solid #f3f3f3; background-color: red"></div>
    <% end -%>
  </td>

  <td width="120">
    <%= check_box_tag "status",
                      channel.id,
                      channel.is_enable,
                      { class: 'switchable channel-status',
                        data: {url: state_channel_path(channel.id)}
                      }
                  %>
  </td>

  <td width='50'>
        <%= link_destroy " ", channel_path(channel),
                              method: :delete, data: { confirm: 'Are you sure to delete this channel ?' } %>
  </td>

</tr>
