<div id="new-android-channel-wizard" class="channel-wizard">
  <div class="box plain grey wizardSteps">
    <div class="steps-line">
      <div class="steps-container s3">
        <span class="circle first green">
          <span class="inner">
            <span class="step-name">Install</span>
          </span>
        </span>
        <span class="line-fill green"></span>
        <span class="circle green">
          <span class="inner">
            <span class="step-name">Connect</span>
          </span>
        </span>
        <span class="line-fill"></span>
        <span class="circle last">
          <span class="inner">
            <span class="step-name">Finish</span>
          </span>
        </span>
      </div>
    </div>
  </div>
  <%= form_for :channel, :url => { :action => :create }, :html => { :id => 'form-android-channel'}, :remote => true do |f| %>
    <div class="ChannelWizard">
      <h1 class="orange">Enter the gateway code from your mobile phone</h1>
      <div class="AndroidScreen left"></div>
      <br/>
      <div class="GreyArrow AndroidArrow left"></div>
      <br/>
      <br/>
      <div class="left AndroidChannelCreation col-sm-6">
        <p class="w30">Copy the code for automated setup from the Nuntium Local Gateway in here to bind your local gateway to your Feed Alert.</p>
        <%= f.text_field :ticket_code, :placeholder => ('Enter gateway code'), class: 'form-control', :size => 19 %>
        <br/>
        <%= error_for(@channel, :ticket_code) %>
        <%= f.hidden_field :setup_flow, value: Channel::SETUP_FLOW_BASIC %>
      </div>
    </div>
    
    <div style="clear:both"></div>
    <hr/>
    <div class="ChannelWizardNavigation">
      <%= link_to ('Back'), new_channel_path, :remote => true, :onclick => "channelWizardView('download-android-local-gateway-wizard');", :class => 'btn btn-default', :class => 'btn btn-default' %>
      <button class="btn btn-primary" type="button" onclick="createAndroidChannel()">Next</button>
    </div>
  <% end %>
  
</div>