<%= breadcrumb [ {"Health Structure" => nil}] %>
<div class="inner-container">
  <div class="clearfix">
      <div class="pull-right" style='margin-top: 10px;'>
      <%=link_to export_as_csv_places_path, class: 'btn btn-primary' do %>
       <i class="glyphicon glyphicon-upload"> </i> Export as CSV
      <% end %>
    </div>
  </div>
  <div class='row'>
    <div class='col-lg-4'>
      <%= render 'shared/search_user' %>
      <%= render 'shared/tree' %>
    </div>

    <div class="col-lg-8">
      <div>
        <span> Selected <i class='glyphicon glyphicon-play' style='font-size: 80%; color: gray; '> </i> </span>
        <span id='selected-tree' style='color: gray;'></span> </div>
      <div id='user-list'> <%= render 'users/list', users: users %> </div>
    </div>
  </div>
</div>
