<%=simple_form_for(@event, html: { class: 'form-inline form'}) do |f| %>
  <%= f.input :id, as: :hidden %>
  <%= f.input :description, as: :text, input_html: {class: 'form-control'} %>
  <%= f.input :display_from, as: :date, required: true, order: [:day, :month, :year] %>
  <%= f.input :display_till, as: :date, order: [:day, :month, :year] %>
  <%= f.input :ord %>
  <div class="form-group">
    <label class="control-label">Is Enabled</label>
    <%= f.check_box :is_enabled, class: 'form-control ace ace-switch ace-switch-4 btn-empty' %>
    <span class="lbl" style="vertical-align:bottom"></span>
  </div>
  <%= f.input :url_ref, as: :url %>

  <div class="form-group text optional event_attachments">
    <label class='file required control-label left' for='event_attachments_attributes_0_file'>Attachment(s)</label>

	  <%= f.simple_fields_for :attachments do |ff| %>
      <% if ff.object.new_record? %>
        <div style="width: 300px; margin-left: 180px">
          <%= ff.input :file, label: false, input_html: { style: 'display:inline;' }, as: :file  %>
        </div>
      <% else %>
        <div class="img-attachment">
          <%= image_tag(ff.object.file, width: 150, height: 150, alt: 'Attachment') %>
        </div>
      <% end %>
	  <% end %>
  </div>

  <div class="form-group text optional event_attachments_add_more">
  	<label></label>
	  <%= link_to '#', class: 'btn btn-xs btn-add-more' do %>
	    <i class='glyphicon glyphicon-plus grey'> </i> add more
	  <% end %>
  </div>

  <div class='form-group form-action-group'>
    <label class='control-label'></label>
    <%=f.submit 'Save', class: 'btn btn-primary' %>
  </div>

<% end %>
