<ul class="nav nav-tabs">
  <li role="presentation" class="<%= params[:type] === Event::UPCOMING ? 'active' : '' %>">
    <%= link_to Event::UPCOMING.camelcase, events_path(type: Event::UPCOMING) %>
  </li>
  <li role="presentation" class="<%= params[:type] === Event::PAST ? 'active' : '' %>">
    <%= link_to Event::PAST.camelcase, events_path(type: Event::PAST) %>
  </li>
  <li role="presentation" class="<%= params[:type].present? ? '' : 'active' %>">
    <%= link_to 'All', events_path %>
  </li>
</ul>
