<div class="table-responsive">
  <table class="report table table-hover">
    <thead>
      <tr style="color: black">
        <td>Event Date</td>
        <td>Description</td>
        <td>Order</td>
        <td>Status</td>
        <td>Url Reference</td>
        <td>Attachment</td>
        <td>Action</td>
      </tr>
    </thead>

    <tbody>
      <% if @events.size > 0 %>
        <% @events.each_with_index do |event, index| %>
          <% color = event.over? ? 'background-color: lightgray;' : '' %>
          <tr style="<%= color %>">
            <td><%= event.due_date %></td>
            <td><%= event.description %></td>
            <td><%= event.ord %></td>
            <td><%= status_for(event.is_enabled).html_safe %>
            </td>
            <td><%= link_to event.url_ref, event.url_ref %></td>
            <td>
              <% event.attachments.each do |attachment| %>
                <%= link_to download_event_attachment_path(attachment), class: 'btn btn-xs btn-success' do %>
                  <i class='glyphicon glyphicon-download'> </i> <%= attachment.filename %>
                <% end %>
              <% end %>
            </td>
            <td>
              <div>
                <% if event.announcing? %>
                  <span><i class='glyphicon glyphicon-eye-open'> </i></span>
                <% end %>
                <%= link_to event_path(event), method: :delete, data: {confirm: 'Are you sure to delete ?'} do %>
                    <i class='glyphicon glyphicon-trash red'> </i>
                <% end %>
              </div>
            </td>
          </tr>
        <% end %>
      <% else %>
        <td colspan="7">
          <div class="alert alert-danger center" style="margin-bottom: 0px">
            There is no record.
            <br>
          </div>
        </td>
      <% end %>
    </tbody>
  </table>
</div>

<div class="clearfix">
  <%= paginate_for(@events) %>
</div>
