<div class="alert-section" style="width: 620px;">
  <div class="panel-head clearfix" style="padding: 10px;">
    <%= form_tag message_template_path, class: 'simple_form form form-inline alert-form', method: :put do %>

      <div class='form-group clearfix'>
        <label class='control-label left'>Report confirmation</label>
        <div class='horizontal-form-control'>
          <%= check_box_tag 'message_template[enabled]', 'Enabled', @message_template.enabled, class: 'form-control ace ace-switch ace-switch-4 btn-empty toggle' %>
          <span class='lbl' style='vertical-align:bottom'></span>
        </div>
      </div>

      <div id='toggle-div'>
        <div class='form-group clearfix'>
          <label class='control-label left string required'>
            <abbr title="required">*</abbr> Template message
          </label>
          <%= text_area_tag 'message_template[report_confirmation]', @message_template.report_confirmation, rows: 6, cols: 60 %>
        </div>

        <div class='form-group'>
          <label class="control-label">&nbsp;</label>
          <%= template_params_for(:message_template_report_confirmation, Setting::MessageTemplateSetting::VARIABLES) %>
        </div>
      </div>

      <div class='form-group'>
        <label class="control-label">&nbsp;</label>
        <%= submit_tag 'Save', class: 'btn btn-primary' %>
      </div>
    <% end %>
  </div>
</div>
