<% clazz = variable.disabled ? 'grey' : '' %>

<div class="panel panel-default panel-variable <%= clazz %>" style="width: 600px;">
  
  <div class="panel-body variable-form" style='border-top: 1px solid #eee; border-bottom: 1px solid #eee; display:none;'>
    <%= simple_form_for variable do |f| %>
      <div class='alert alert-danger error-message' style="display:none;"> ffff</div>
      <div class="clearfix">
        <div class="pull-left" style='width: 30%; padding: 10px;'>
          <%= f.input :name, label: 'Variable name', class: 'form-control s-width' %>
        </div>

        <div class="pull-left" style='width: 5%; padding: 20px; padding-left: 5px; margin-top: 20px;' >
          <i class='glyphicon glyphicon-link'> </i>
        </div>

        <div style='width: 35%; padding: 10px;' class="pull-left">
          <%= f.hidden_field :verboice_name, class: 'verboice-variable-name' %>
          <%= f.label :verboice_id, 'Verboice variable' %>
          <%= f.select :verboice_id,
                     project_variables.map{|p| [ p['name'], p['id'] ] },
                     {include_blank: 'Select variable'},
                     {class: 'form-control s-width verboice-variable-id' } %>
        </div>

        <div class="pull-left" style='width: 30%; padding: 10px;'>
          <%= f.input :dhis2_data_element_uuid, label: "CamEwarn's UUID", class: 'form-control s-width' %>
        </div>
      </div>

      <div class="clearfix">
        <div class="pull-left" style='width: 35%; padding: 10px;'>
          <%= f.input :background_color, label: 'Header background color', as: :minicolors, input_html: {data: {
        minicolors: {theme: :bootstrap,defaultValue: '#f3f3f3', position: :right}}} %>
        </div>
        <div class="pull-left" style='width: 35%; padding: 10px;'>
          <%= f.input :text_color, label: 'Text column color', as: :minicolors, input_html: {data: {
        minicolors: {theme: :bootstrap,defaultValue: '#000000', position: :right}}} %>
        </div>
      </div>

      <div class='form-group clearfix' style='padding: 10px;'>
        <label class='control-label left'>Hide from Report</label>
        <div class='horizontal-form-control'>
          <%= f.check_box :disabled, class: 'form-control ace ace-switch ace-switch-4 btn-empty', input_html: { 'data-toggle' => 'toggle' } %>
          <span class='lbl' style='vertical-align:bottom'></span>
        </div>
      </div>

      <div class="clearfix">
        <div class="vertical-checkbox-list" style="padding: 10px;">
          <label>Apply alert setting</label>
          <% Variable::ALERT_METHODS.each do |key, method| %>
            <div style="border-bottom:none">
              <%= f.radio_button :alert_method, key, class: 'alert_method' %>
              <span class="lbl"><%= method.html_safe %></span>
            </div>
          <% end %>
        </div>
      </div>

      <div class="form-action" style="text-align: right; margin-top: 15px;">
        <button type='reset' class="btn btn-default hide-variable-form" > Cancel </button>
        <button type="button" class="btn btn-primary save-varialble"> Save </button>
      </div>
    <% end %>
  </div>

  <div class="panel-head clearfix" style="padding: 10px; background: #d0d0d0;">
    <% if variable.new_record? %>
       <div class="pull-left"> Add new variable mapping </div>
       <div class="pull-right">
         <%= link_to '#', class:'variable-collapsable' do %>
           <i class='icon glyphicon glyphicon-plus'> </i>
         <% end %>
       </div>
    <% else %>
       <div class="pull-left">
          <%= variable.name %>
          <i class='glyphicon glyphicon-link'> </i>
          <%= variable.verboice_name %>
          <% if variable.disabled %>
            <i class="glyphicon glyphicon glyphicon-eye-close" aria-hidden="true"> </i>
          <% end %>
       </div>
       <div class='pull-right'>
         <%= link_to '#', class: 'variable-collapsable' do %>
           <i class='icon glyphicon glyphicon-pencil'> </i>
         <% end %>

         <%= link_to variable_path(variable), method: :delete, data: {confirm: 'Are you sure you want to delete this variable'} do %>
           <i class='icon glyphicon glyphicon-trash'> </i>
         <% end %>
       </div>
    <% end %>
  </div>
</div>
