<%= form_tag(update_settings_path(tab: params[:tab]), method: :put, class: 'form form-inline', id: 'form-verboice') do %>
  <% 
    project_options   = 
    project_variable_options = 
  %>

  <div class='input-row'>
    <%= label_tag :project %>
    <%= select_tag :project,
                   options_for_select(@parameters[:projects].map{|p| [ p['name'], p['id'] ] }, Setting[:project]),
                   include_blank: 'Select a project',
                   class: 'form-control s-width' %>
  </div>


  <div class='input-row'>
    <%= label_tag :project_variable %>
    <%= select_tag :project_variable,
                   options_for_select( @parameters[:project_variables].map{|p| [ p['name'], p['id'] ] }, Setting[:project_variable]),
                   include_blank: 'Select variable',
                   class: 'form-control s-width' %>
  </div>


  <div class='input-row'>
    <label> </label>
    <button class="btn btn-primary"> Save </button>
  </div>
<% end %>