<script type='text/javascript' >
  window.call_flows = <%= @parameters[:call_flows].to_json.html_safe %>
  $(function(){
    handleProjectChange()
  })

  function handleProjectChange(){
    $("#project").on('change', function(){
      $this = $(this);
      var project_id = $this.val()

      var project_call_flows = $.grep(call_flows, function(call_flow, index){
          if( call_flow.project_id == project_id)
            return call_flow
      })

      update_select('#call_flow', project_call_flows)
      setNotification("Info", "Connecting to server")

      $.ajax({
        method: 'GET',
        dataType: 'json',
        url: '/schedules',
        data: {project: project_id},
        success: function(response){
          window.schedules = response
          update_select('#schedule', schedules)
          setNotification("notice", "Retrieved schedule successfully")
        },
        error: function(){
          window.schedules = []
          update_select('#schedule', schedules)
          setNotification("alert", "Failed to retrieved schedules, make sure you are able to connect to Verboice")
        }
      })
    })
  }

  function update_select(selector, resultSets) {
    var $select = $(selector)
    $select.find("option[value!='']").remove()

    $.each(resultSets, function(index, item){
      var $option = $("<option>" + item.name + "</option>").attr('value', item.id)
      $select.append($option)
    })
  }
</script>

<%= form_tag(update_settings_path(tab: params[:tab]), method: :put, class: 'form form-inline', id: 'form-verboice') do %>
  <% 
    channel_options   = @parameters[:channels].map{|c| [ c['name'], c['id'] ] }
    project_options   = @parameters[:projects].map{|p| [ p['name'], p['id'] ] }
    call_flow_options = []
    @parameters[:call_flows].each do |f|
      call_flow_options << [ f['name'], f['id'] ] if f['project_id'].to_s == Setting[:project].to_s
    end
  %>
  
  <div class='input-row'>
    <%= label_tag :channel %>
    <%= select_tag :channel, options_for_select(channel_options, Setting[:channel]), class: 'form-control s-width'%>
  </div>

  <div class='input-row'>
    <%= label_tag :project %>
    <%= select_tag :project, options_for_select(project_options, Setting[:project]),
                   include_blank: 'Select a project',
                   class: 'form-control s-width' %>
  </div>

  <div class='input-row'>
    <%= label_tag :call_flow %>
    <%= select_tag :call_flow, options_for_select(call_flow_options, Setting[:call_flow]),
                   include_blank: 'Select a call flow',
                   class: 'form-control s-width' %>
  </div>


  <div class='input-row'>
    <label> </label>
    <button class="btn btn-primary"> Save </button>
  </div>
<% end %>