<div class="row">
  <div class="col-xs-12">
    <div class="text-muted">Send alert if the case reported is greater than (w1+w2+w3)/3* 1.5</div>
    <%= simple_form_for @alert, html: { class: 'form-inline form'} do |f| %>
      <div class="form-group">
        <label class="control-label">Enable SMS alert</label>
        <%=f.check_box :is_enable_sms_alert, class: 'form-control ace ace-switch ace-switch-4 btn-empty' %>
        <span class="lbl"></span>
      </div>

      <div class="form-group">
        <label class="control-label">Enable Email alert</label>
        <%=f.check_box :is_enable_email_alert, class: 'form-control ace ace-switch ace-switch-4 btn-empty' %>
        <span class="lbl"></span>
      </div>

      <div class="form-group">
        <label class="control-label" style="float: left">To</label>
        <div class="col-sm-9">
          <% Place::TYPE.each do |place_type| %>
          <div>
            <label>
              <input name="form-field-checkbox" type="checkbox" class="ace" />
              <span class="lbl"> <%= place_type %></span>
            </label>
          </div>
          <% end %>
        </div>
      </div>

      <div class="form-group">
        <label class="control-label" style="vertical-align:top"> SMS template</label>
        <%= f.text_area :message_template, as: :text, rows: 6, cols: 60 %>
      </div>
      <div class='form-group form-action-group'>
        <label></label>
        <%= f.submit 'Save', class: 'btn btn-primary' %>
      </div>
    <% end %>
</div>
