<div class="row">
  <div class="col-xs-12">
    <%= simple_form_for @alert, html: { class: 'form-inline form'} do |f| %>
      <div class="form-group">
        <label class="control-label">Formula</label>
        <span><%= ENV['THRESHOLD_FORMULA'].html_safe %></span>
      </div>
      <div class="form-group">
        <label class="control-label">Enable SMS alert</label>
        <%=f.check_box :is_enable, class: 'form-control ace ace-switch ace-switch-4 btn-empty' %>
        <span class="lbl"></span>
      </div>
      <div class="form-group">
        <label class="control-label" style="vertical-align: top"> SMS template</label>
        <%= f.text_area :message_template, as: :text, rows: 6, cols: 60 %>
      </div>
      <div class='form-group form-action-group'>
        <label></label>
        <%= f.submit 'Save', class: 'btn btn-primary' %>
      </div>
    <% end %>
</div>
