<%= paginate_for(@phds) %>
<%= page_header "Provincial health department" do %>
  <%= link_new 'New PHD', new_phd_path() %>
<% end %>

<table class='table'>
  <thead>
    <tr>
      <td>Name</td>
      <td>Code</td>
      <td class='td-last'></td>
    </tr>
  </thead>
  <tbody>
    <% @phds.each do |phd| %>
      <tr>
        <td><%= link_to phd.name, edit_phd_path(phd) %></td>
        <td><%=phd.code %></td>
        <td class='td-last'>
           <%= link_edit " ", edit_phd_path(phd)  %>
           <%= link_destroy " ", phd_path(phd), method: :delete, data: { confirm: 'Are you sure to delete' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate_for(@phds) %>