<%= breadcrumb [ {"External SMS Setting" => nil} ] %>
<div class="inner-container">
  <div class="clearfix">
    <div class="pull-left">
      <h3 class="header-title">External SMS Setting</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="text-muted"><i>Below you can configure the external sms setting</i></div>
      <br/>
      <div class="row">
        <div class="col-xs-12">
          <%= simple_form_for @external_sms_setting, html: { class: 'form-inline form alert-form'} do |f| %>
            <div class="form-group">
              <label class="control-label">Enable</label>
              <div class="col-sm-9 horizontal-form-control">
                <div>
                  <%= f.check_box :is_enable, class: 'form-control ace ace-switch ace-switch-4 btn-empty' %>
                  <span class="lbl" style="vertical-align:bottom"></span>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label"> Recipient </label>
              <div class="col-sm-9">
                <div class="input-group col-sm-3">
                  <input type="text" class="form-control" placeholder="phone" id="recipient">
                  <span class="input-group-btn">
                    <a class="btn btn-default" id="btn-add-recipient">
                      <i class="ace-icon fa fa-plus bigger-120"></i> Add
                    </a>
                  </span>
                </div>
                <ul id="list-recipients">
                  <% @external_sms_setting.recipients.each do |r| %>
                    <li id="recipient-<%= r %>">
                      <span class="rounded"><%= r %></span>
                      <input type="hidden" name="external_sms_setting[recipients][]" value="<%= r %>" />
                      <a href="#">
                        <span class="glyphicon glyphicon-remove-circle btn-remove-recipient" data-value="<%= r %>"></span>
                      </a>
                    </li>
                  <% end %>
                </ul>
              </div>
            </div>

            <div class="form-group">
              <label class="control-label"> Message template</label>
              <div class="col-sm-9">
                <%= f.text_area :message_template, as: :text, rows: 6, cols: 60 %>
              </div>
            </div>

            <div class='form-group'>
              <label class="control-label">&nbsp;</label>
              <div class="col-sm-9">
                <%= external_message_template_params_for(:external_sms_setting_message_template) %>
              </div>
            </div>

            <div class='form-group'>
              <div class="col-sm-9">
                <%= f.submit 'Save', class: 'btn btn-primary' %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
