<div class='panel panel-default'>
  <div class='panel-heading'> 
    <h3 class='panel-title'>Filter</h3>
  </div>

  <div class="panel-body" style='padding: 10px 0px;'>
    <%= form_tag reports_path, method: 'GET' do |f| %>

      <div class='input-row col-lg-2'>
        <%= label_tag :from %>
        <%= text_field_tag :from, params[:from], class: 'form-control date-picker' %>
      </div>

      <div class='input-row col-lg-2'>
        <%= label_tag :to %>
        <%= text_field_tag :to, params[:to], class: 'form-control date-picker' %>
      </div>

      <div class='input-row col-lg-2'>
        <%= label_tag :phd, 'PHD' %>
        <%= select_tag :phd, options_for_select(Place.phds_list, params[:phd]),
                       class: 'form-control', include_blank: 'All' %>
      </div>

      <div class='input-row col-lg-2'>
        <%= label_tag :od, 'OD' %>
        <%= select_tag :od, options_for_select(Place.ods_list, params[:od]),
                       class: 'form-control', prompt: "All" %>
      </div>

      <div class='input-row col-lg-2'>
        <%= label_tag :listened, 'Status' %>
        <%= select_tag :listened, options_for_select([[ "Listened", 1], ["New", 0]], params[:listened]),
                       class: 'form-control', include_blank: "All" %>
      </div>


      <div class='input-row col-lg-2'>
        <button class='btn btn-primary' style='margin-top: 25px;'>
          <i class='glyphicon glyphicon-search'> </i> Filter
        </button>
      </div>
    <% end %>
  </div>
</div>