<%= breadcrumb [ {"Reports" => nil}] %>
<%= page_title "Call list" %>

<div class="inner-container">
  <%= render 'announcement' %>
  <%= render 'filter' %>
  <%= render 'table' %>
  <%= render 'modal' %>
</div>
