<%= page_header "Places" %>
<hr />

<div class='row'>
  <div class='col-lg-4'>
    <div class='tree-wrapper' ><%= render 'shared/tree' %></div>
    <div class='tree-action' >
      <%= link_to '#', class: 'new-tree' do %>
        <i class='glyphicon glyphicon-plus'> </i>
      <% end %>
      <%= link_edit '', '#', class: 'edit-tree' %>
      <%= link_destroy '', '#', class: 'destroy-tree', method: :delete %>
    </div>
  </div>

  <div class="col-lg-8">
    <div class='tree-content-wrapper'>
      <div>
        <span> Selected  </span>
        <i class='glyphicon glyphicon-chevron-right'> </i>
        <span id='selected-tree'> </span>
      </div>
    </div>
  </div>

</div>
