<%=simple_form_for(@member, html: { class: 'form-inline form'}) do |f| %>
  <%=f.input :name, label: 'Name', input_html: {class: 'form-control'} %>
  <%=f.input :phone, input_html: {class: 'form-control'} %>
  <%=f.input :phd_id, label: 'PHD', collection: Phd.pluck(:name, :id) , input_html: {class: 'form-control'} %>
  <%=f.input :od_id, label:'OD', collection: @member.od_list , input_html: {class: 'form-control'} %>

  <div class='form-group form-action-group'>
    <label class='control-label'></label>
    <%=f.submit 'Save', class: 'btn btn-primary' %>
  </div>

<% end %>