<%= paginate_for(@members) %>

<%= page_header "Member" do %>
  <%= link_new 'New Member', new_member_path() %>
<% end %>

<table class='table'>
  <thead>
    <tr>
      <td>Name</td>
      <td>Phone</td>
      <td>OD</td>
      <td class='td-last'></td>
    </tr>
  </thead>
  <tbody>
    <% @members.each do |member| %>
      <tr>
        <td><%= link_to member.name, edit_member_path(member) %></td>
        <td><%=member.phone %></td>
        <td><%= member.od.name %> - <%= member.phd.name %></td>
        <td class='td-last'> 
           <%= link_edit " ", edit_member_path(member)  %>
           <%= link_destroy " ", member_path(member), method: :delete, data: { confirm: 'Are you sure to delete this member?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate_for(@members) %>